section {
  margin: 2rem;
  padding: 2rem;
}

header {
  opacity: 0.8;
}

.card {
  background-color: rgba(147, 190, 223, 0.8);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #000000;
}
h1,
h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}
.Jazz {
  color: darkorange;
}

.Will {
  color: navy;
}

.Joy {
  color: mediumaquamarine;
}

.accordion {
  margin-left: 2rem;
  margin-right: 45%;
}
.error {
  text-align: center;
  font-size: 40px;
  color: red;
}

.error2 {
  text-align: center;
  font-size: 40px;
  color: crimson;
}

.imgdisplay {
  height: 300px;
  width: 400px;
  margin-bottom: 10px;
}

.imgdisplay img {
  height: 100%;
  border-radius: 20px;
}

.resultdisplay a img {
  width: 130px;
  border: 1px solid green;
  margin-bottom: 3px;
  float: right;
}

.resultdisplay h1 {
  margin-top: 5px;
  color: ghostwhite;
  background-color: grey;
  text-align: center;
}

#message {
  font-size: 30px;
  color: ghostwhite;
  margin-bottom: 5px;
}

canvas {
  margin-top: 20px;
  border-radius: 20px;
}

.plus {
  font-size: 10px;
}

.mobile-bottom-bar {
  width: 100%;
  height: 3rem;
  background: #1779ba;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  bottom: 0;
  position: fixed;
}

.mobile-bottom-bar .footer-link {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: right;
  color: #0c3e5f;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: bold;
  padding: 0.907rem 1rem;
}

.mobile-bottom-bar .footer-link i.fa {
  opacity: 0.8;
  margin-right: 0.625rem;
  font-size: 1.5rem;
  vertical-align: middle;
}

.mobile-bottom-bar .footer-link:focus,
.mobile-bottom-bar .footer-link:active {
  color: #0c3e5f;
}

.mobile-bottom-bar .footer-text {
  position: relative;
  top: 2px;
  font-weight: bold;
  font-size: 0.875rem;
  color: #0c3e5f;
}

.footer-text.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}

#body-1 {
  background-image: url("../img/background.jpg");
}

#body-2 {
  background-image: url("../img/back2.jpg");
}

#intro-card,
#clooney-card {
  width: 50%;
  margin-top: 2rem;
  margin-left: 2rem;
}
#preview1 {
  float: right;
  height: 200px;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
}
#preview2 {
  float: left;
  height: 200px;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}
#merged {
  border-radius: 20px;
}
#clooneyMessage div {
  border: dotted;
  margin-bottom: 3px;
  text-align: center;
}
