section {
  margin: 2rem;
  padding: 2rem;
}
body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}
.Jazz {
  color: darkorange;
}

.Will {
  color: navy;
}

.Joy {
  color: mediumaquamarine;
}

.error {
  font-size: 40px;
  color: red;
}

.error2 {
  font-size: 40px;
  color: crimson;
}

.imgdisplay {
  height: 300px;
  width: 400px;
  margin-bottom: 10px;
}

.imgdisplay img {
  height: 100%;
}

.resultdisplay a img {
  width: 130px;
  border: 1px solid green;
  margin-bottom: 3px;
  float: right;
}
